- set_meta_tags title: t("env.title")

.row
  .col-3
  .col-6
    %h2.text-center.mt-5= t("env.title")
    %table{class: "table table-bordered table-sm mt-4"}
      %tbody
        - @sys_info.each do |key, value|
          %tr
            %th= key.to_s.humanize
            %td= value
  .col-3
