- set_meta_tags title: t("home.title"), description: t("home.description"), keywords: t("home.keywords")

.row
  .col
  .col-10
    .row
      .col-12.col-md-6.mt-5
        - link = "https://www.eventbrite.co.uk/e/step-present-claire-lavelle-tickets-1006409326387?aff=oddtdtcreator&utm-campaign=social&utm-medium=disc&utm-content=attendeeshare"
        %h2.text-center= link_to "Claire Lavelle", link
        = link_to link do
          %img.img-fluid.w-100{src: "/images/2024/claire_lavelle_banner_1600x1135.jpg", alt: "Claire Lavelle"}
        = link_to link do
          %img.img-fluid.w-50.mx-auto.d-block.mt-3{src: "/images/2024/claire_lavelle_qr_287x295.jpg", alt: "QR Code"}
      .col-12.col-md-6.mt-5
        = render "twitter"
  .col
