- set_meta_tags title: t("home.title"), description: t("home.description"), keywords: t("home.keywords")

.row
  .col
  .col-10
    .row
      .col-12.col-md-6.mt-5
        = link_to "https://www.eventbrite.co.uk/e/what-the-educational-reforms-mean-for-you-tickets-696642916717?aff=oddtdtcreator" do
          %img.img-fluid.w-100{src: "/images/2023/reform_flyer_1200x762.jpg", alt: "what the educational reforms mean for you flyer"}
      .col-12.col-md-6.mt-5
        = render "twitter"
  .col
