- set_meta_tags title: t("register.title"), description: t("register.description"), keywords: t("register.keywords")

.row
  .col
  .col-10
    %h2.text-center.mt-5 Conference Registration
    %img.img-fluid.w-100.mt-5{src: "/images/misc/join_1200x700.jpg", alt: "join us"}
  .col
.row.mt-5
  .col
  .col-10.col-sm-9.col-md-8.col-lg-7.col-xl-6
    %p Booking for our 2025 conference can be completed in three easy steps:
    %ul
      %li Pay fee (as detailed below)
      %li
        Download and complete the
        = link_to "registration and workshop preference form", "/docs/2025/booking.docx"
      %li
        Forward completed form to
        = mail_to "conference@steachersep.org.uk"
        no later than <b>8th March 2025</b>
    %p Your place at our conference will then be confirmed by email.
    %p
      Registration is open to all teachers.
      Early bird price is <b>£29.95</b> until <b>31st January 2025</b>.
      Full price is <b>£45</b>.
      School packages are available on request.
      Please make a BACS payment to:
    %ul
      %li Payee: Scottish Teachers for Enhancing Practice
      %li Sort code: 80-22-60
      %li Account: 12858861
      %li Reference: your name and (if you have one) GTCS number
  .col
