- set_meta_tags title: t("stepcast.title"), description: t("stepcast.description"), keywords: t("stepcast.keywords")

%h2.text-center.mt-5= t("stepcast.title")

.row
  .col-2
  .col-8
    .text-center.mt-5
      %a#2024-karen-watson
      %h5 Karen Watson, December 2024
      %audio.mt-1{controls: true, src:"/audio/2024/karen_watson.mp3"} Your browser does not support the audio element.
      %img.img-fluid.w-100.mt-2{src: "/images/2024/karen_watson_800x800.jpg", alt: "Karen Watson 2024"}
  .col-2
  .col-2
  .col-8
    .text-center.mt-5
      %a#2022-david-cameron
      %h5 David Cameron, June 2022
      %audio.mt-1{controls: true, src:"/audio/2022/david_cameron.mp3"} Your browser does not support the audio element.
      %img.img-fluid.w-100.mt-2{src: "/images/2022/david_cameron_880x800.jpg", alt: "David Cameron 2022"}
  .col-2
  .col-2
  .col-8
    .text-center.mt-5
      %a#2022-ken-muir
      %h5 Ken Muir, May 2022
      %audio.mt-1{controls: true, src:"/audio/2022/ken_muir.mp3"} Your browser does not support the audio element.
      %img.img-fluid.w-100.mt-2{src: "/images/2022/ken_muir_880x800.jpg", alt: "Ken Muir 2022"}
  .col-2

  %p.text-center.mt-5
    %small
      Music from
      = succeed(",") do
        = link_to "Upbeat", "https://uppbeat.io/t/hartzmann/sunny", target: "external"
      license code ZDULJMQTYP9BWBK7.
