- set_meta_tags title: t("stepcast.title"), description: t("stepcast.description"), keywords: t("stepcast.keywords")

%h2.text-center.mt-5= t("stepcast.title")

.row
  .col-2
  .col-8
    .text-center.mt-5
      %a#2022-ken-muir
      %h5 Ken Muir, May 2020
      %audio.mt-1{controls: true, src:"/audio/2022/ken_muir.mp3"} Your browser does not support the audio element.
      %img.img-fluid.w-100.mt-2{src: "/images/2022/ken_muir_880x800.jpg", alt: "Ken Muir 2022"}
  .col-2
