#banner
  = render "layouts/logo"
  - if action_name == "home"
    .row.mb-5
      .col
      .col-10.col-md-9.col-lg-8.col-xl-7.banner
        .title= t("title.full")
        .sub-title= t("title.sub")
      .col
  .nav
    = render "layouts/links"
